[2019-11-18 12:37] tomkerkhove opened #3 "Use new Helm endpoint on hub.helm.sh"
Use new Helm endpoint on hub.helm.sh

[2019-11-18 12:39] tomkerkhove opened #4 "Creating official releases"
I presume we'll be using GitHub releases for official releases rather than just updating the repo or?

[2019-11-18 12:44] tomkerkhove opened #5 "Provide PR validation for helm chart"
Provide PR validation for helm chart

[2019-11-18 12:44] tomkerkhove opened #6 "Provide Helm chart for KEDA Dashboard"
Provide Helm chart for KEDA Dashboard

[2019-11-25 01:28] jiayanguo opened #18 "Helm 3 install failed"
When I am trying to install Keda in minikube via Helm3, it throws below error.
[code]

[2019-11-26 00:56] ahmelsayed commented on #3
sorry about that @tomkerkhove, I completely forgot about that. Thanks for taking care of it.

[2019-12-10 07:19] tomkerkhove commented on #3
Merged

[2019-12-10 07:19] #3 closed

[2019-12-10 07:19] tomkerkhove commented on #5
At some point I'll try to pick this up, feel free to assign to me if you want @ahmelsayed

[2020-01-03 07:20] tomkerkhove opened #11 "Apiservice isn't always deleted properly"
When deleting KEDA it not always deletes everything leaving behind an unavailable API server.

This was also reported by Brendan Burns here: https://github.com/helm/helm/issues/6361#issuecomment-538220109

[2020-01-31 07:18] tomkerkhove opened #19 "Re-introduce README for Helm chart"
We used to have a README in our Helm chart which documented what it was, how you can deploy it and what configuration options we provide.

This seems to have been removed during our move to this repo and should be re-introduced to improve the ease of use.

[2020-01-31 07:28] tomkerkhove opened #20 "Publish Helm chart to an OCI-compatible repo to support versioning"
When we moved to this repo, we decided to move away from hosting our charts on `https://kedacore.azureedge.net/helm` over `https://kedacore.github.io/charts`. (see https://github.com/helm/hub/pull/181)

Unfortunately, this means that we are losing our Helm chart versioning.

I'd suggest to publish our Helm chart to an OCI-compatible repo such as Azure Container Registry so that:
1. We can version

[2020-02-06 06:48] jeffhollan commented on #20
Concern with this would be that OCI support for helm repos appears to be opt-in and expiremental? https://helm.sh/docs/topics/registries/#enabling-oci-support

[2020-02-06 06:48] jeffhollan commented on #20
But like the idea of having versioned outside of just git commits.  Also do love how easy hosting a chart from a GitHub pages is (what we are doing today).  Open to options though

[2020-02-06 06:54] jeffhollan commented on #20
Actually looks like we are snapshotting versions of the chart for each release.  We currently have 2 chart versions: 1.0.0 and 1.1.0 and soon will have a 1.2.0

https://github.com/kedacore/charts/tree/master/docs

[2020-02-06 07:04] tomkerkhove commented on #20
It looks like you are right:
[code]

I've missed that part, sorry :/

I'd suggest to close it and keep as is then, ok?

[2020-02-28 08:41] tomkerkhove commented on #5
Done via https://github.com/kedacore/charts/pull/16

[2020-02-28 08:41] #5 closed

[2020-03-10 15:15] ncrothe opened #26 "Allow pod annotations via Chart"
We would like to automatically add annotations to the controller and metrics pod. This currently does not seem possible via the helm chart. Please add this capability.

Our specific use case would be for kiam instance role annotations for AWS auth.

[2020-03-10 15:26] tomkerkhove commented on #26
Makes sense!

[2020-03-10 15:26] tomkerkhove commented on #26
With Pod annotations I presume you mean on the Kubernetes deployment?

[2020-03-10 15:38] ncrothe commented on #26
Correct. Preferably in flavours for the controller deployment and the metric deployment.
I.e. something in https://github.com/kedacore/charts/blob/master/keda/templates/12-keda-deployment.yaml#L21 and in https://github.com/kedacore/charts/blob/master/keda/templates/22-metrics-deployment.yaml#L19

[2020-03-11 10:26] tomkerkhove opened #28 "Restructure values to feel more natural"
Restructure values to feel more natural based on @ncrothe his original proposal in #27:

[2020-03-16 22:28] #26 closed

[2020-03-26 07:00] tomkerkhove opened #33 "Use `apiextensions.k8s.io/v1` instead of `apiextensions.k8s.io/v1beta1`"
Use `apiextensions.k8s.io/v1` instead of `apiextensions.k8s.io/v1beta1` since it's deprecated as of Kubernetes 1.16.

[2020-04-01 06:23] tomkerkhove opened #35 "Annotations are not on spec-level for our deployments"
Reported by @bmacauley-reward

Relates to https://github.com/kedacore/keda/issues/706

[2020-04-01 06:55] tomkerkhove commented on #35
Fixed via #36

[2020-04-01 06:55] #35 closed

[2020-04-02 18:05] tomkerkhove opened #37 "Provide PR template"
Provide PR template that mentions to to update Helm chart version

[2020-04-19 12:16] tomkerkhove opened #40 "Poll: What Helm version are you using?"
With our upcoming KEDA 2.0 release we are interested to learn who is using what version of Helm!

What version are you using?

[![](https://api.gh-polls.com/poll/01E695XGHCMDQP7PD4WM837HHM/Helm%202)](https://api.gh-polls.com/poll/01E695XGHCMDQP7PD4WM837HHM/Helm%202/vote)
[![](https://api.gh-polls.com/poll/01E695XGHCMDQP7PD4WM837HHM/Helm%203)](https://api.gh-polls.com/poll/01E695XGHCMDQP7PD4WM837HH

[2020-04-20 07:58] zroubalik opened #42 "Version should be updated to 1.4.0 not to 1.3.2"
@SatishRanjan when you did release, you haven't updated version to 1.4.0. The PR should be checked and be approved by at least one person to avoid these kind of problems.

https://github.com/kedacore/charts/blob/345ae4384beaef78aa4a8d9e56edbb0dbde62a7d/keda/Chart.yaml#L7-L11

[2020-04-20 08:13] tomkerkhove commented on #42
Shall we publish a v1.4.1 for Helm chart?

Well technically we can still:
- Ship chart 1.4.0 with app 1.4.0
- Ship chart 1.3.3 to change app back to 1.3.0

[2020-04-20 08:13] tomkerkhove commented on #42
Happy to PR if we agree on it

[2020-04-20 19:47] ahmelsayed commented on #42
Yes I think that makes sense @tomkerkhove!

[2020-04-20 20:03] mboutet opened #44 ".tgz file contains backslashes when using keda chart as a subchart on macOS (and probably linux in general)"
`.tgz` file contains backslashes when using keda chart as a subchart on macOS (and probably linux in general).

1. To reproduce, create a chart with the following `Chart.yaml`:
[code]
2. run `helm dependency update test`.  This will create the the `test/charts/keda-1.3.2.tgz` file.
3. Then, untar the file using `tar xf test/charts/keda-1.3.2.tgz -v`
4. The extracted files are not in the expected f

[2020-04-20 20:18] SatishRanjan commented on #42
@zroubalik I did notice that when I saw the version but it was automatically updated to 1.3.2 from 1.3.1, so I thought the helm chart versioning works separate that of KEDA.

[2020-04-20 20:18] SatishRanjan commented on #42
Good to know it for the next release onwards.

[2020-04-21 14:36] tomkerkhove commented on #42
That's ok.

We had a few changes in this repo as well that have to be shipped, that's why. Will patch it on Thursday or so.

[2020-04-21 14:46] tomkerkhove commented on #42
Actually just went for it.

[2020-04-21 14:52] tomkerkhove opened #46 "Automate release process"
Automate release process based on a new GitHub release that is created (#4) similar to how KEDA core works.

[2020-04-21 14:52] tomkerkhove commented on #46
Only hurdle I see is that the automation should be able to commit to master directly with the new resources or at least create a PR to approve.

[2020-04-21 15:22] #42 closed

[2020-05-01 08:34] elutsky opened #48 "Allow external metrics requests to be done with different multiple identities"
What we are trying to achieve:

We have different namespaces (teams), accessing external (azure resources) metrics.
We would like those teams each to use it's own Azure AAD Identity - to ensure least privilege access.
At the best scenario, we would even like to access each resource with separate Identity ,(AAD Pod Identity project).

We are fine with both installing single shared Keda metrics serv

[2020-05-18 06:21] alexakr opened #49 "keda-operator error after deployment"
I installed keda-operator on Kubernetes 1.15 using Helm 2 `helm install kedacore/keda` command.
In the log file there is the following error:
{"level":"info","ts":1589781448.036523,"logger":"cmd","msg":"KEDA Version: 1.4.1"}
{"level":"info","ts":1589781448.0365922,"logger":"cmd","msg":"Go Version: go1.13.3"}
{"level":"info","ts":1589781448.0366158,"logger":"cmd","msg":"Go OS/Arch: linux/amd64"}
{"

[2020-05-18 08:00] zroubalik commented on #49
Seems like ScaledObject CRD was not installed during the chart installation. Could you please try to uninstall keda and install it once again, to check whether there are any issues during the installation? After the installation please check that KEDA CRDs are installed in the cluster:
`kubectl get crds | grep keda`

[2020-05-18 08:48] alexakr commented on #49
There are no errors during Helm deployment, but KEDA CRDs are **not** installed.

NAME            REVISION        UPDATED                         **STATUS**          CHART           NAMESPACE
keda            1               Mon May 18 11:44:14 2020        **DEPLOYED**        keda-1.4.1      keda

[2020-05-24 06:39] alexakr commented on #49
So I assume this is a bug since Helm should install KEDA CRDs as well.

[2020-06-07 09:24] catirado commented on #18
Any news on that? The same problem here because the `skipping unknown hook: "crd-install"` throws an error in the CI and this makes the job fail.

I was trying to follow the proposed changes in #17, but I see that the related to this issue were removed because of the need for backward compatibility with Helm 2. Also in #20 that the issue of labels is resolved as well.

Any chance of getting it bac

[2020-06-07 15:55] oronboni opened #50 "KEDA replicaCount (Question not bug)"
One of the values is replicaCount: 1.
Can we change it to 2 (or any number higher than 1) based on the current architecture ?

[2020-06-08 05:54] tomkerkhove commented on #50
I think this is safe, right @zroubalik ?

[2020-06-08 05:55] tomkerkhove commented on #18
We are keeping Helm 2 support for now as we have a lot of customers still using it to date - https://github.com/kedacore/charts/issues/40

In the past it just gave a warning instead of an error which is odd. Is it specific to your CI or not?

[2020-06-08 06:38] zroubalik commented on #50
No, you cannot run multiple replicas of KEDA, the controllers would interfere between each other and wouldn't bring any benefit.

[2020-06-08 07:10] tomkerkhove commented on #50
In that case we might want to remove that parameter to avoid misconfiguration, ok for you?

[2020-06-08 07:11] tomkerkhove commented on #18
Happy to help and sorry for the pain!

[2020-06-08 07:55] zroubalik commented on #50
@tomkerkhove completely fine!

[2020-06-23 04:27] jacobhjkim opened #55 "KEDA v2 Support"
It would be great to have the KEDA v2 Helm Chart as a separate branch. Is there any plan on supporting KEDA v2 in this charts repository?

[2020-06-23 05:44] tomkerkhove commented on #55
Yes but we are still working on v2 itself so have not changed our charts yet to align with them.

[2020-06-23 05:44] tomkerkhove commented on #55
@zroubalik Feel free to list required changes here so we can make them accordingly.

[2020-07-22 23:19] grv-trip commented on #49
@alexakr did you try to install CRD's using `kubectl apply -f <<crd_file>>`  if they didn't come up using helm chart?

[2020-07-23 06:47] alexakr commented on #49
Yes, of course. This is the workaround, but the helm chart must be fixed to install the CRDs as well.

[2020-07-23 17:14] grv-trip commented on #49
Interesting... for me, CRD's came up as expected when I deployed the keda operator using helm chart. But I used Helm 3

[2020-07-31 06:02] #50 closed

[2020-08-10 04:01] channeladam commented on #18
If it isn't an actual error, it shouldn't be logged to stderr. Setting fail on stderr to false could hide other possible problems - this is not a safe workaround.

[2020-08-10 08:55] gardnerdev opened #61 "Cannot create resource "customresourcedefinitioins""
During installing KEDA by using `helm install keda kedacore/keda` I've got following error:

[2020-08-10 13:18] tomkerkhove commented on #61
It looks like your user does not have permissions to do so, is this an RBAC-enabled cluster?

[2020-08-11 09:51] gardnerdev commented on #61
@tomkerkhove - can it be slightly modified to operate only on namespace area? not cluster?

[2020-08-11 09:59] zroubalik commented on #61
`CustomResourceDefinitions` requires admin permissions, those are cluster-wide resources.

[2020-08-25 06:34] tomkerkhove commented on #37
Should we do this or do we always update versions @ahmelsayed? Maybe best to skip?

[2020-08-25 09:07] tomkerkhove opened #64 "Setup security scanning for Helm charts"
Setup security scanning for Helm charts with Snyk IaC.

[2020-08-26 04:59] #19 closed

[2020-08-27 12:13] tomkerkhove commented on #18
I fully agree @channeladam!

Given Helm [just did their final Helm 2.x release](https://github.com/helm/helm/releases/tag/v2.16.10), [they published that it's no longer being updated](https://helm.sh/blog/helm-v2-deprecation-timeline/) and we have KEDA 2.0 coming up I think it's time to move on.

Thoughts on removing Helm 2.0 support and close this issue @jeffhollan @ahmelsayed @zroubalik @anirudh

[2020-09-10 12:09] tomkerkhove commented on #18
@tbickford Is it correct that you had a solution for this?

[2020-09-18 06:42] tomkerkhove commented on #18
Actually I think it's time to move off: https://twitter.com/technosophos/status/1306640949896912901

[2020-09-18 14:54] tbickford commented on #18
@tomkerkhove Apologies - I have been on PTO. This PR https://github.com/kedacore/charts/pull/60 should allow for both Helm 2 and 3 compatibility

[2020-09-22 09:14] leonfibal opened #71 "Incorrect apiGroup in keda-clusterrole"
Yesterday I deployed keda using helm chart with version 2.0.0-beta.1.1. Now my keda operator and keda metrics apiserver log errors:
[code]
[code]

I think the problem is here (https://github.com/kedacore/charts/blob/master/keda/templates/10-keda-clusterrole.yaml#L50):
[code]

[2020-09-22 11:41] zroubalik commented on #71
@leonfibal good catch, thanks! The Chart need still some polishing.

[2020-09-23 09:26] golgoth31 commented on #71
Hi,
There is also a problem on the resource "deployments/scale", it should be added to the clusterrole:
{"level":"error","ts":1600850002.1993313,"logger":"controller","msg":"Reconciler error","reconcilerGroup":"keda.sh","reconcilerKind":"ScaledObject","controller":"scaledobject","name":"xxx","namespace":"xxx","error":"deployments.apps \"image-converter\" is forbidden: User \"system:serviceaccount:

[2020-09-23 13:53] #71 closed

[2020-10-05 18:54] jasondemps1 opened #76 "Liveness and Readiness Probes do not exist in Helm chart templates"
Currently the KEDA Helm chart does not implement the liveness and readiness probes that are seen in the vanilla KEDA YAMLs. Any plans to support this in the Helm chart for v2 final?

[2020-10-12 06:11] tomkerkhove commented on #76
Thanks for submitting the PR @jasondemps1!

[2020-10-14 14:14] oronboni opened #80 "Add ServiceMonitor to pull metrics to Prometheus"
I saw in the code that you add /metric endpoint.
ServiceMonitor yaml required in order to define Prometheus to pull metrics from KEDA pods.

[2020-10-14 14:23] tomkerkhove commented on #80
What do you think @ahmelsayed @tbickford? What about automatic discovery through annotations?

[2020-10-19 09:10] tomkerkhove opened #81 "Remove support for Helm v2.x"
Remove support for Helm v2.x since it's officially end-of-life.

[2020-10-19 09:10] tomkerkhove commented on #18
We're removing support for Helm v2.x being tracked in https://github.com/kedacore/charts/issues/81.

[2020-10-19 09:11] tomkerkhove commented on #33
Closed in #60

[2020-10-19 09:11] #33 closed

[2020-10-19 11:38] winjer opened #83 "panic when creating a new hpa"
This is with v2.0.0-rc, I am getting:

[code]

scaledobject:

[code]

[2020-10-26 06:23] tomkerkhove commented on #80
I've looked over it given we already have this available: https://github.com/kedacore/charts/blob/master/keda/templates/26-metrics-podmonitor.yaml

You can use it when opting in through `prometheus.enabled` & `prometheus.podMonitor.enabled`.

We've shipped a fix for it, can you please try https://github.com/kedacore/charts/releases/tag/v2.0.0-rc2?

[2020-10-26 10:38] tomkerkhove opened #87 "Automatically deploy Helm chart on Kind cluster during CI"
Automatically deploy Helm chart on Kind cluster during CI to ensure it's still installable.

[2020-10-26 10:39] tomkerkhove commented on #55
Chart has been updated and available, can you give it a try please @jacobhjkim ?

[2020-10-26 10:39] tomkerkhove commented on #61
Can we close this issue @gardnerdev ?

[2020-10-26 10:39] #40 closed

[2020-10-26 10:39] #4 closed

[2020-10-26 10:39] #46 closed

[2020-10-26 10:40] #28 closed

[2020-10-26 10:40] #11 closed

[2020-10-26 10:41] tomkerkhove commented on #49
Can you try if this is still the case with our rc2 please @alexakr ?

[2020-10-26 10:42] tomkerkhove commented on #44
Are you still having issues with this when using our latest RC2 @mboutet?

[2020-10-26 11:10] rhummelmose opened #88 "Helm chart v2.0.0-rc2 fails to install on fresh k8s 1.18.8"
Attempting to install the chart fails with error

[code]
<img width="1538" alt="screenshot" src="https://user-images.githubusercontent.com/620878/97165574-378c5e00-1784-11eb-84de-248a92c472e8.png">

## Expected Behavior
It is able to install on a fresh cluster

## Actual Behavior
It does not install

## Steps to Reproduce the Problem

  1. Attempt to install

## Specifications

  - **KEDA Version:

[2020-10-26 11:33] alexakr commented on #49
This case is for Helm 2.
But from rc2 breaking changes: "Removed support for Helm 2.x".
And according to @grv-trip it worked with Helm 3 anyway. So I suppose rc2 is not relevant for this issue.

[2020-10-26 12:07] tomkerkhove commented on #88
I'll take a look at this and have created #87 to avoid this in the future

[2020-10-26 12:13] tomkerkhove commented on #49
Ok, hope this won't be too much of a hassle to use Helm 3 but given the Helm 2 deprecation timeline we are removing it with this new major version, sorry.

[2020-10-26 12:29] #49 closed

[2020-10-26 12:56] #87 closed

[2020-10-27 02:11] jacobhjkim commented on #55
Awesome I will close this issue.

[2020-10-27 02:11] #55 closed

[2020-10-27 14:21] RemiGaudin commented on #88
Interestingly I have the same issue with version 2.0.0-rc2, but it's working fine with version 2.0.0-rc

[2020-10-27 18:53] tomkerkhove commented on #88
@ahmelsayed do you have bandwidth to help here?

[2020-10-29 16:15] jeffhollan commented on #88
Discussed in standup - hoping to get rid of the problem.  @tomkerkhove shipped `2.0.0-rc3` works now, but it has helm 2.  Need to fix so `2.0.0` can use helm 3 and not support helm 2.

@TsuyoshiUshio / @ahmelsayed let me know if you can help look at this. I may be able to spend some cycles tonight as well

[2020-10-29 16:17] arschles commented on #88
I can give a hand here.

[2020-10-29 16:41] tomkerkhove commented on #88
Thanks @arschles!

[2020-10-29 19:59] mboutet commented on #44
No, this looks good now. My guess is that the chart was packaged on a Windows machine given the path separators were backslashes. Thanks!

[2020-10-29 19:59] #44 closed

[2020-10-29 21:03] rhummelmose commented on #88
Awesome guys. @arschles let me know if you can't find the time and I'll try to fix it during the weekend.

[2020-11-03 04:37] dstrebel opened #93 "Error with helm install on 2.0.0-rc2"
A clear and concise description of what the bug is.

## Expected Behavior
Successful install of Keda

## Actual Behavior
Receive the following error when installing with Helm

Error:  FAILED: rendered manifests contain a resource that already exists. Unable to continue with update: CustomResourceDefinition "triggerauthentications.keda.sh" in namespace "" exists and cannot be imported into the curr

[2020-11-03 16:37] tomkerkhove commented on #93
Thanks for reporting, we are already working on it in https://github.com/kedacore/charts/issues/88.

In meantime, can you try our rc3 Helm chart please?

[2020-11-03 16:38] jeffhollan commented on #93
Duplicate of https://github.com/kedacore/charts/issues/88

[2020-11-03 16:38] #93 closed

[2020-11-03 17:07] jeffhollan commented on #88
Can confirm that 2.0.0-rc3 works, but it isn't published to the index so had to clone. Let me clean it up a little and publish

[2020-11-04 06:07] tomkerkhove opened #96 "Deploy sample app after deploying our Helm chart"
Deploy sample app after deploying our Helm chart and run `k get so` afterwards

[2020-11-04 06:09] #88 closed

[2020-11-05 07:04] tomkerkhove commented on #81
Done in https://github.com/kedacore/charts/releases/tag/v2.0.0

[2020-11-05 07:04] #81 closed

[2020-11-05 07:05] #61 closed

[2020-11-05 07:05] tomkerkhove commented on #18
Fixed in https://github.com/kedacore/charts/releases/tag/v2.0.0

[2020-11-05 07:05] #18 closed

[2020-11-06 18:32] leonidgorbachev opened #99 "Removing of ScaledObject doesn't cause removing of HPA"
When you deploy ScaledObject - it automatically created HPA related to this ScaledObject.
But when you uninstall ScaledObject away - it "forgets" about HPA and you have to delete it manually, that is not always possible.
Kuber 1.17.11
KEDA 2.0.0-rc
Helm 3

[2020-11-11 13:03] Fel3180 opened #100 "Error no matches for kind ScaledObject in version keda.sh/v1alpha1"
I am trying to install KEDA through ArgoCD. Am getting the below error.

[code]

**Specifications**

KEDA Version: 2.0
Kubernetes Version: 1.18

![Screenshot from 2020-11-11 09-47-47](https://user-images.githubusercontent.com/27966524/98814475-7c5ef880-2404-11eb-9276-63cfc7ea0689.png)

[2020-11-12 07:06] tomkerkhove commented on #100
Thanks for the report - How did you install KEDA?

[2020-11-12 11:55] zroubalik commented on #100
Seems like your CRDs is not installed.

What `kubectl get crd | grep keda` gives you?

[2020-11-12 12:39] Fel3180 commented on #100
I did the installation via Charts at the startup of the Cluster by ArgoCD. I made a clone of this project https://github.com/kedacore/charts and added it to the Argo structure to do the installation.

This kubectl get crd command | grep keda returns nothing.

[2020-11-12 12:52] zroubalik commented on #100
So your [CRDs](https://github.com/kedacore/charts/tree/master/keda/crds) are not installed. You need to install them in the cluster in order to use KEDA.

[2020-11-12 13:08] Fel3180 commented on #100
So as I am using ArgoCD this installation would be done through Charts, in the repository that I cloned has the following .yaml for installing the CRDS:
scaledjobs.keda.sh.yaml
scaledobjects.keda.sh.yaml
triggerauthentications.keda.sh.yaml

[2020-11-12 14:10] zroubalik commented on #100
yes, those needed to be installed in the cluster. Not sure how does the ArgoCD installation works, but it is probably missing this part.

[2020-11-12 14:21] Fel3180 commented on #100
So this is exactly what I'm trying to do to install Keda. This error is mentioned in the installation.

[2020-11-12 15:24] zroubalik commented on #100
We don't support installation via ArgoCD, it is not something that has been tested, so my guess that something is not correct there. Could you try to [install KEDA](https://keda.sh/docs/2.0/deploy/) directly via one of our supported methods? This should work and install the CRD correctly.

[2020-11-16 17:17] allenmunC1 commented on #100
So argocd is installing via helm2 as `apiVersion` in `Chart.yaml` is set to `v1` instead of using the recommended helm3 this is a PR to fix this issue
https://github.com/kedacore/charts/pull/101

[2020-11-17 09:44] lambohamp opened #103 "Run KEDA with readOnlyRootFilesystem"
Hi,

I am running KEDA v2.0.0 and trying to set `readOnlyRootFilesystem: true` due to security concerns, but I am getting the following error from `keda-operator-metrics-apiserver`:

[code]

Is there a way to enable read only fs for KEDA?

Thanks.

[2020-11-17 10:37] tomkerkhove commented on #103
Adding @zroubalik but that might require a change

[2020-11-17 17:41] lekspyl opened #104 "CRDs are failing to install on K8s v1.15.11"
Hello,

Looks like #94 breaks compatibility with Kubernetes versions prior to 1.16. I was trying to install the chart but I'm getting
[code]

I'm running EKS v1.15.11.
Was this breaking change expected?

[2020-11-17 19:49] tomkerkhove commented on #104
Yes, it's documented in [our FAQ](https://keda.sh/docs/2.0/faq/)

[2020-11-18 11:59] zroubalik commented on #103
Metrics adapter needs certificates. If there aren't any attached, the metrics adapter generates self signed ones.

You can mount a secret/configmap with CA, cert and key. Then you can reference it in the Metrics Adapter Deployment, in the container args section:
[code]

[2020-11-18 12:04] lambohamp commented on #103
Thank you @zroubalik , I will give it a try.

[2020-11-18 12:04] #103 closed

[2020-11-18 12:17] tomkerkhove commented on #103
This sounds like a good FAQ opportunity, would you mind contributing this @lambohamp?

You can find guidance on https://github.com/kedacore/keda-docs#add-new-frequently-asked-question-faq

[2020-11-18 19:36] Fel3180 commented on #100
Thanks @allenmunC1. I will try with this PR.

[2020-11-19 20:15] brunooliveiramac commented on #104
We are facing same issue. Is this related to this PR? https://github.com/kedacore/charts/pull/94 ot this one https://github.com/kedacore/charts/pull/101

We are using helm 2 and kubernetes 1.18

[2020-11-19 20:30] Fel3180 commented on #104
I have the same problem, in my case the keda-operator is reporting the following error:

E1119 20:10:04.006257       1 reflector.go:178] pkg/mod/k8s.io/client-go@v0.18.8/tools/cache/reflector.go:125: Failed to list *v
1alpha1.ScaledObject: the server could not find the requested resource (get scaledobjects.keda.sh)****

[2020-11-19 20:31] Fel3180 commented on #100
@allenmunC1 I used this fix, but I found a new problem. The keda-operator is reporting the following error:

E1119 20:10:04.006257 1 reflector.go:178] pkg/mod/k8s.io/client-go@v0.18.8/tools/cache/reflector.go:125: Failed to list v
1alpha1.ScaledObject: the server could not find the requested resource (get scaledobjects.keda.sh)***

[2020-11-19 21:04] tomkerkhove commented on #104
Helm 2 is no longer supported unfortunately since it is out of support

[2020-11-20 07:25] tomkerkhove commented on #100
@Fel3180 I've noticed you had issues installing through Helm 2 in another issue, is this the same case here? Because that might be the root cause of your problem?

[2020-11-20 11:36] lekspyl commented on #104
I think this clears thing out for everyone; gonna stick to v1.5.0 for now. Thank you!

[2020-11-20 11:36] #104 closed

[2020-11-20 11:37] Fel3180 commented on #100
Exactly @tomkerkhove, I'm having trouble installing with Helm 2. Would you have any solution for this? Knowing that I can't update the helm in my cluster.

[2020-11-20 11:55] tomkerkhove commented on #100
Unfortunately you'll have to stick with KEDA 1.5 fo now then.

We have removed support for Helm 2 in KEDA 2.0

[2020-11-20 12:03] zroubalik commented on #100
@Fel3180 you can always install KEDA via yaml file: https://keda.sh/docs/2.0/deploy/#yaml

[2020-11-20 12:36] Fel3180 commented on #100
Ok @zroubalik,  I will try this option.

[2020-11-24 13:41] idonca opened #106 "Increased latency on EKS after Keda has been deployed"
Hello,

We were facing some increase on the latency side because KEDA did calls to external.metrics.k8s.io.  This is increasing response time on kubernetes api queries.
Do you know how we can "isolate" keda to run on some specific k8s namespaces?
Can we deactivate that API? (external.metrics.k8s.io)

Or did you have this problem also?

Attached are some responses from k8s APIs:

[api-response.txt]

[2020-11-30 07:16] #37 closed

[2020-11-30 07:16] tomkerkhove commented on #100
Did it work out?

[2020-11-30 12:50] Fel3180 commented on #100
Hi, @tomkerkhove, did not work, I'm trying install a version 1.5.

[2020-11-30 12:53] tomkerkhove commented on #100
Same issue as in https://github.com/kedacore/charts/issues/100#issuecomment-730620394?

[2020-11-30 13:05] Fel3180 commented on #100
Yes, that it's.

[2020-12-07 11:47] Fel3180 commented on #100
@tomkerkhove I'm having this problem installing KEDA.

`W
I1204 14:37:10.712351       1 shared_informer.go:230] Caches are synced for client-ca::kube-system::extension-apiserver-authenti
cation::client-ca-file
E1204 22:20:14.519191       1 provider.go:134] keda_metrics_adapter/provider "msg"="Cannot get list of ScaledObjects" "error"="e
tcdserver: request timed out"  "WatchedNamespace"=""
E1206 14

[2020-12-08 07:19] tomkerkhove commented on #100
@zroubalik have you seen this before?

[2020-12-08 11:41] Fel3180 commented on #100
Thanks @tomkerkhove , my team solved this problem, it was a bug in Argo, I will close the issue, thanks.

[2020-12-08 11:41] #100 closed

[2020-12-11 06:23] tomkerkhove opened #109 "Provide capability to configure HTTP timeouts"
Provide capability to configure HTTP timeouts by configuring `KEDA_HTTP_DEFAULT_TIMEOUT` environment variable. (see https://github.com/kedacore/keda/pull/1251#issuecomment-739836264)

This is a follow-up for https://github.com/kedacore/keda/issues/1133

[2020-12-21 21:57] jyaworski opened #110 "Chart expects Helm 3 / apiVersion: v2, but is published as 2/v1"
Hello:

At https://kedacore.github.io/charts/index.yaml, the chart version `2.0.0` is published as `apiVersion: v1`:

[code]

Could the chart be incremented and republished as `apiVersion: v2`? Thank you!

[2020-12-22 09:05] tomkerkhove commented on #110
This was done in https://github.com/kedacore/charts/pull/101.

@zroubalik ok if we ship 2.0.1 since we will hold off 2.1 for a few more weeks?

[2020-12-22 09:23] zroubalik commented on #110
@tomkerkhove 2.0.1 charts release sounds good to me

[2020-12-24 09:06] tomkerkhove opened #112 "Provide resource requests/limits for KEDA deployment"
Provide resource requests/limits for KEDA deployment

[2020-12-27 16:36] HansK-p opened #113 "Solve issue with deploying Keda using "securityContext.readOnlyRootFilesystem: true""
keda-operator-metrics-apiserver refuses to start when I install Keda using Helm 3 with the following values.yaml file:
<pre>
securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true # The setting that creates issues
  runAsNonRoot: true
  runAsUser: 1000
</pre>

Earlier we have "solved" the problem by:
* using "helm template" to create a helm template
* use kustomize to

[2020-12-28 15:13] jyaworski commented on #110
#111 solved this. Thank you!

[2020-12-28 15:13] #110 closed

[2021-01-04 09:53] zroubalik commented on #112
These values are in yaml, so probably just add them to the template is enough: https://github.com/kedacore/keda/blob/2a2987ab0f6020cffa9e75e18005469ca3aaf426/config/manager/manager.yaml#L37-L42

[2021-01-04 09:56] tomkerkhove commented on #112
They are not used as part of our Helm chart for now: https://github.com/kedacore/charts/blob/master/keda/values.yaml#L93

Will move them over as defaults as well.

Note to self, metrics service limits are here: https://github.com/kedacore/keda/blob/2a2987ab0f6020cffa9e75e18005469ca3aaf426/config/metrics-server/deployment.yaml

[2021-01-27 10:22] Ritikaa96 opened #116 "Update Commands and output in README.md"
**1)** The added repo is `keda` but the document is showing `kedacore` in the `helm search`

**2)** The README shows the commands as:

[code]

However when we do the helm search we find this :

[code]

[2021-01-27 11:43] #116 closed

[2021-02-17 19:14] jseiser opened #124 "Unable to Install KEDA - Conflicts with Datadog Helm chart"
We run the datadog agents on our cluster, and as part of that it runs the metric server.  We are unable to install KEDA, because it appears to conflict.

[code]

Is there anyway to use the existing metrics server?

Thanks,

[2021-02-17 19:22] jseiser commented on #124
[code]

[2021-02-17 19:24] jseiser commented on #124
https://github.com/kedacore/keda/issues/470

[2021-02-18 14:50] tomkerkhove commented on #124
It is because of multiple metric servers indeed, Kubernetes doesn't support this.

Ok if we close this in favor of https://github.com/kedacore/keda/issues/470?

[2021-02-18 17:31] jseiser commented on #124
@tomkerkhove

Yes.  I created this, before I saw the larger issue on the KEDA github

[2021-02-18 17:31] #124 closed

[2021-03-03 06:41] tomkerkhove opened #127 "Use Docker images from GitHub Container Registry"
Use Docker images from GitHub Container Registry instead of Docker Hub.

Depends on https://github.com/kedacore/keda/issues/1650
Depends on https://github.com/kedacore/keda/issues/1651
Relates to https://github.com/kedacore/governance/issues/16

[2021-03-07 07:27] muqtadir commented on #100
@Fel3180 can you please describe how to solve the problem.

[2021-03-11 10:47] instagendleg opened #129 "Use Namespaced CRD scope"
Hi,

I have a use-case with an OpenShift cluster with high CRD restrictions. We are forced, in order to use CRD, to deploy them with a `Namespaced` scope.

This allow a CRD to only operate inside a namespace. Useful for security & segregation purposes.

**Could it be possible to allow the customization of these in the chart?**

Doc & Sources:

* https://github.com/kubernetes/kubernetes/issues/6555

[2021-03-11 11:54] tomkerkhove commented on #129
Would scope be the only thing? Because we could make that configurable?
@zroubalik I think this would only be Helm specific, but checking.

[2021-03-15 13:38] #127 closed

[2021-03-17 18:07] guilhermepozo opened #131 "wrong URL repository"
https://github.com/kedacore/charts/blob/56d54095ea07e2a2a52c0e76eea8f692a7c5a3f6/keda/values.yaml#L7

[2021-03-17 18:11] guilhermepozo commented on #131
Wrong repository URL at chart default values.yaml

[2021-03-17 19:34] tomkerkhove commented on #131
This is not the wrong image URL but our new one, see #127 & kedacore/governance#16.

I've missed the README, though, which is fixed in 	https://github.com/kedacore/charts/pull/132

[2021-03-18 09:46] tomkerkhove commented on #131
Oh now I see

[2021-03-18 09:46] #131 closed

[2021-03-22 12:35] mlushpenko commented on #80
Seems to work for me with PodMonitor.
![image](https://user-images.githubusercontent.com/2006610/111990298-7a741700-8b13-11eb-99e5-447afeb0859e.png)

Just values are different:
[code]

[2021-03-26 15:08] smarcu92 opened #139 "Helm upgrade fails to install clustertriggerauthentications crd"
### Report

Hi,
Not sure if this is the correct place for this however, here we go...
Helm upgrade from 2.0.0 to 2.2.0 fails to install (clustertriggerauthentications.keda.sh crd)
We're running keda v2.0.0 installed via helm 3 on v1.19.6 (AKS)
* Installed using --set=installCRDs=true --set=podIdentity.activeDirectory.identity=<aad_identity>

Since the crd is missing pod fails to start.
(no matches

[2021-04-06 19:05] arthuravila26 opened #138 "Getting error on helm update"
G'day everyone!

This is the first time ever that I'm deploying Keda manifests using a helm chart.
I'm trying to deploy my application to my AKS cluster. At the time Helm is doing the Upgrade I get this error:

`
Error: UPGRADE FAILED: rendered manifests contain a resource that already exists. Unable to continue with update: ScaledObject "My-Chart-Name" in namespace "My-Namespace" exists and canno

[2021-04-07 06:31] tomkerkhove commented on #138
It looks like that resource already exists in your cluster & namespace, did you create it before without Helm?

[2021-04-07 07:11] zroubalik commented on #138
What KEDA version are you using? Seems like some 1.x. I definitely recommend to migrate to 2.x

[2021-04-07 11:26] arthuravila26 commented on #138
Yes, I did. But when I saw this error I removed the deployment and other manifests from that deployment and nothig changed.

[2021-04-07 11:28] arthuravila26 commented on #138
I'm actually using the version 2.x of Keda.

[2021-04-07 11:30] zroubalik commented on #138
So please refer our migration guide https://deploy-preview-218--keda.netlify.app/docs/2.0/migration/

I can see that you are using old `apiVersion` and spec in the ScaledObject definition.

[2021-04-07 13:02] arthuravila26 commented on #138
Well, just tried that and didn't work yet. I'm currently using keda version 2.1. My ScaledObject is looking like that now:
[code]

[2021-04-07 13:17] zroubalik commented on #138
Your Helm installation is probably broken, but hard to tell exactly.

I'd recommend you to do a complete uninstallation (via Helm) and then even run this command to check there aren't any leftovers:

[code]

And then install KEDA again (I highly recommend you to install 2.2.0 as it contains some perf related fixes).

[2021-04-07 13:28] arthuravila26 commented on #138
Just forget to show the error from when I changed the apiVersion to keda.sh/v1alpha1
The error was this one:

[code]

seems like the apiVersion I was using (keda.k8s.io/v1alpha1)  was right.

[2021-04-07 13:35] zroubalik commented on #138
That's KEDA 1.x apiVersion, but you mentioned that you are using KEDA 2.1. As I said, remove all KEDA related stuff and install again.

kubectl get crd | grep keda

[2021-04-07 13:44] arthuravila26 commented on #138
Yes, it's version 2.1. The return I got from the kubectl command you sent was:

[code]

But I will try out what you said asap.

[2021-04-07 14:25] arthuravila26 commented on #138
Just worked, mate! I was deploying it to a wrong cluster that has version 1.x and I didn't realize that I was at the wrong cluster 🤦‍♂️

[2021-04-07 14:25] #138 closed

[2021-04-08 06:38] tomkerkhove commented on #139
Might be related to https://github.com/helm/helm/issues/6581

[2021-04-08 06:42] tomkerkhove commented on #139
As a mitigation, you can manually install the CRD (https://github.com/kedacore/charts/blob/master/keda/crds/clustertriggerauthentications.yaml).

[2021-04-08 06:47] tomkerkhove commented on #139
As per: https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#install-a-crd-declaration-before-using-the-resource

It looks like we'll need to find a way around this.

[2021-04-08 14:33] MattJeanes commented on #139
This should be noted in upgrade notes as when installing through Helm this is technically a breaking change

Workaround: `kubectl apply -f https://raw.githubusercontent.com/kedacore/charts/master/keda/crds/clustertriggerauthentications.yaml`

[2021-04-11 09:00] tomkerkhove opened #140 "Move the CRDs from `crds/` to `templates/` to maintain them"
As per: https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#install-a-crd-declaration-before-using-the-resource

This means that after the first install, changes to our existing CRDs or the introduction of new ones will not be reflected in end-users their clusters which is a fundamental problem.

We will move the CRDs from `crds/` to `templates/` with an option to opt-in to inst

[2021-04-11 09:01] tomkerkhove commented on #140
`cert-manager` uses an opt-in to install the CRDs but maybe an opt-out to not do it is better since we need them. What do you think @ahmelsayed @zroubalik ?

[2021-04-11 09:02] tomkerkhove commented on #139
I've opened https://github.com/kedacore/charts/issues/140 to fix this so that they are always added and I'll update the docs asap.

Sorry for the inconvenience. I wish Helm was handling this better.

[2021-04-12 10:36] smarcu92 commented on #139
Hi @tomkerkhove,

Hope you're well.

I can confirm the workaround works since I tested it before creating the ticket.

However, in this specific case we're not actually talking about a CRD upgrade using Helm since the actual CRD is missing to begin with. So my exception would be that if the CRD is not installed and keda has a hard dependency on it, exactly the situation we're facing now , it shoul

[2021-04-12 11:08] tomkerkhove commented on #139
Fully agree, but apparently Helm doesn't agree on that (see above).

I'm working on a fix for this in #141

[2021-04-13 06:01] tomkerkhove opened #142 "Provide Helm chart linting & deployment in CI for HTTP add-on"
Provide Helm chart linting & deployment in CI to verify the chart is still valid.

You can use inspiration from https://github.com/kedacore/charts/blob/master/.github/workflows/ci.yml

[2021-04-14 17:27] #140 closed

[2021-04-14 17:29] tomkerkhove commented on #139
This is fixed and available: https://github.com/kedacore/charts/releases/tag/v2.2.1

Sorry about this.

[2021-04-14 17:29] #139 closed

[2021-04-17 08:31] micaelgallego commented on #139
Install doc still references to this issue. But I assume this issue is fixed and workaround is not longer needed, right?

[2021-04-17 09:38] tomkerkhove commented on #139
Yes, docs only refer to v2.1 or below. v2.2 normally doesn't point here.

[2021-04-20 13:03] sharkymcdongles opened #144 "Add ability to configure logging zap encoder via values"
Currently this is hardcoded to console:

https://github.com/kedacore/charts/blob/master/keda/templates/12-keda-deployment.yaml#L56

However this can be set to json per this:

https://github.com/kedacore/keda/blob/main/BUILD.md#miscellaneous

[2021-04-20 13:12] tomkerkhove commented on #144
Ok for you @zroubalik?

Are you willing to contribute this @sharkymcdongles?

[2021-04-20 13:24] zroubalik commented on #144
Absolutely :)

[2021-04-20 19:32] sharkymcdongles commented on #144
Ya I can submit PR shortly.

[2021-04-20 19:43] sharkymcdongles commented on #144
https://github.com/kedacore/charts/pull/145

@tomkerkhove

[2021-04-21 08:24] tomkerkhove commented on #144
Thank you!

[2021-04-21 08:25] #144 closed

[2021-04-27 05:21] #113 closed

[2021-04-27 21:12] arschles commented on #109
@tomkerkhove I think this is [done](https://github.com/kedacore/keda/blob/69b69ba67095767d503fe6fd1e58db6886fe584f/main.go#L113)?

[2021-04-28 07:18] tomkerkhove commented on #109
Yes you did this through - https://github.com/kedacore/charts/pull/90

[2021-04-28 07:18] #109 closed

[2021-05-03 03:39] maxisam commented on #139
2.2 still points to here

[2021-05-03 09:07] tomkerkhove commented on #139
Thanks for letting me know @maxisam!

[2021-05-13 12:38] tomkerkhove commented on #88
Thanks for the write-up, if I get it correctly it's just due to Helm 3, right?

[2021-05-14 00:09] kainwei commented on #88
I am not sure what will happened in Helm2, but in my case, yes, I used Helm 3.

[2021-05-17 18:21] arschles opened #150 "Allow the http-add-on chart to use the 'latest' tag"
Currently the HTTP add on chart defaults to a [`vX.Y.Z` tag](https://github.com/kedacore/charts/blob/914c60da8d2805be03f562b3720307683af4d4cd/http-add-on/templates/deployment.yaml#L53). We should allow users to install the `latest` tag as well. This

### Use-Case

Users who would like to stay on the latest stable release may want to just use `latest` (along with an `ImagePullPolicy` of `Always`) t

[2021-05-17 18:22] khaosdoctor commented on #150
On it!

[2021-05-25 17:23] mjhuber opened #152 "Missing CRD labels/annotations cause helm upgrade failure"
When upgrading from keda chart version `2.1.2` => `2.2.2` I receive the following errors that crd labels and annotations are missing.  The CRDs that are affected are:

* `clustertriggerauthentications.keda.sh`
* `scaledjobs.keda.sh`
* `scaledobjects.keda.sh`
* `triggerauthentications.keda.sh`

Adding the following labels and annotations fixes the issue:

[code]

## Expected Behavior
The helm upgra

[2021-05-26 06:15] #150 closed

[2021-05-30 22:21] avivgold098 opened #156 "Support PrometheusRules as part of the Chart"
### Use-Case

Allow the Keda chart users to define `PrometheusRules` object as part of the Chart, for alerting purposes.

### Specification
Includes `PrometheusRules` [Object](https://github.com/prometheus-operator/prometheus-operator#customresourcedefinitions) Object template, to enhance the Keda internal monitoring.

[2021-05-30 22:22] avivgold098 commented on #156
Coralogix platform team can assist with the implementation :)

[2021-05-31 06:15] tomkerkhove commented on #156
That would be great if you can contribute it, thank you!

[2021-05-31 07:24] avivgold098 commented on #156
@tomkerkhove  https://github.com/kedacore/charts/pull/157 is available for review

[2021-05-31 12:14] #142 closed

[2021-05-31 12:15] tomkerkhove commented on #80
@oronboni this has been available for a while, let me know if you have issues

[2021-05-31 12:15] #80 closed

[2021-05-31 13:10] #156 closed

[2021-05-31 14:26] tomkerkhove commented on #152
Sorry about this, I'll update this ASAP

[2021-05-31 14:35] tomkerkhove commented on #152
And sorry for the delay btw

[2021-05-31 14:35] tomkerkhove commented on #6
Dashboard is no longer being maintained

[2021-05-31 14:35] #6 closed

[2021-05-31 14:36] tomkerkhove commented on #129
Are you open to contribute this @instagendleg ?

[2021-06-01 13:47] tomkerkhove commented on #152
As far as I see, older versions still require a manual intervention to add the required annotations.
I'll have a closer look later on, but those are my first findings :/

[2021-06-02 05:04] tomkerkhove commented on #152
v2.3.2 is now available but still requires the manual transition, I'll document this.

https://github.com/kedacore/charts/releases/tag/v2.3.2

[2021-06-02 13:07] mjhuber commented on #152
thanks for the quick fix @tomkerkhove !

[2021-06-02 13:07] #152 closed

[2021-06-02 13:16] tomkerkhove commented on #152
I wish I wouldn't have to fix anything, but happy to help!

[2021-06-11 06:40] tomkerkhove commented on #64
This can be useful: https://github.com/snyk/actions/tree/master/iac

[2021-06-22 05:39] tomkerkhove commented on #112
This should follow our documented limits/requests: https://keda.sh/docs/latest/operate/cluster/

[2021-06-24 12:15] mhulscher opened #168 "Does not install on clusters where running containers as root is not allowed"
The keda http-add-on can not be installed and doesn't work in clusters where containers are forced to run as non-root.

It would be nice if we could configure each containers' securityContext in the helm-charts `values.yaml`.

## Expected Behavior

Helm-chart should install and creating a HTTPScaledObject should successfully start components in target namespace.

## Actual Behavior

All components

[2021-06-24 14:41] tomkerkhove commented on #168
Are you willing to contribute this?

[2021-08-03 15:13] samarara opened #173 "Metrics are not coming into Prometheus when metrics are enabled"
Metrics are not coming into Prometheus when metrics are enabled in `prometheus.metricServer.enabled`

## Expected Behavior
exposed metrics should propagate

## Actual Behavior
expose metrics are not propagating because metrics port `9022` is not exposed by the service

## Steps to Reproduce the Problem

  1. Enable metrics `prometheus.metricServer.enabled = true` in `keda/values.yaml`
  2. Modify

[2021-08-06 08:40] #173 closed

[2021-08-18 17:52] arschles commented on #168
@tomkerkhove I haven't had a chance to contribute this yet, so  @mhulscher if you're open to contributing this, I'd welcome that!

[2021-08-24 11:44] JorTurFer opened #180 "Add support to set `KEDA_HTTP_DEFAULT_TIMEOUT` in metrics server"
We have KEDA deployed using helm, and we use several RabbitMQ Scalers with regex selection. Our problem is that some triggers needs to customize the `KEDA_HTTP_DEFAULT_TIMEOUT` to extend the default values because get the queues using regex needs 5-10 seconds in some cases (we have more than 1k queues in some clusters).

Right now it's supported the configuration of it in the operator but not in t

[2021-08-24 12:12] tomkerkhove commented on #180
Sounds good, thanks!

[2021-08-24 12:17] zroubalik commented on #180
Would you mind adding this env (with the default value) to the kedacore/keda as well? Both Operator and Metrics server? Thanks!

[2021-08-24 12:27] JorTurFer commented on #180
I will take a look there also, np, but I think that I am using it right now 😆 .
At least, I edited the deployment manually and now I'm not getting any error but idk if the RabbitMQ cluster is responding faster for idk why xD

[2021-08-24 15:06] zroubalik commented on #180
Yeah, it is being set there, but I mean to add it to `Deployment` spec, so it is there "visible" for users.

[2021-08-24 19:31] JorTurFer commented on #180
Sorry but I don't get the requirement :/
do you want to set it as default in `kedacore/keda` for example in the Dockerfile?
I'm a bit confused with the last message about adding it to `Deployment` spec, in the chart?

[2021-08-25 08:17] zroubalik commented on #180
The Helm Chart entry is being applied to Operator `Deployment` and similar place for Metrics Server:
https://github.com/kedacore/keda/blob/fe032ccc41f1af1aa4dcdcf4f1d05bba9150fdbf/config/manager/manager.yaml#L57

I wanted to put the ENV in there as well, for users that don't use Helm Charts to install KEDA. So the Env is visible there. But it is not important and maybe we can skip that for now.

[2021-08-25 08:27] JorTurFer commented on #180
oh... I got it! I will do it also as part of this task :)

[2021-08-30 06:50] JorTurFer commented on #180
I think this issue should still be opened, the main goal is not merged yet (support it in helm).
wdyt @zroubalik ?

[2021-08-30 06:52] zroubalik commented on #180
Yeah, GitHub closed this automatically. thanks!

[2021-08-30 15:19] #180 closed

[2021-08-30 15:51] JorTurFer commented on #112
Should we split the resources in `keda` and `metricsApiServer`?
I guess that the operator could need different resources than the metrics server, or not  :wink:

[2021-08-31 05:38] tomkerkhove commented on #112
They are currently the same but best to separate in case we need to change them later on indeed.

[2021-08-31 07:35] JorTurFer commented on #112
OMW

[2021-08-31 07:42] zroubalik commented on #112
+1 for separation

[2021-08-31 18:43] JorTurFer opened #182 "Improve the consistency in KEDA chart"
Working with KEDA chart, I found that it hasn't got consistency in the names when it refers to each application, for example, sometimes the operator is named [`keda` ](https://github.com/kedacore/charts/blob/master/keda/values.yaml#L6) and other times is named [`operator`](https://github.com/kedacore/charts/blob/master/keda/values.yaml#L22). With metrics server happens the same, sometimes is calle

[2021-09-01 05:27] tomkerkhove commented on #182
Good feedback, adding it to milestone for when we plan a new major version!

[2021-09-01 05:27] tomkerkhove commented on #182
Until then, we can change it so that it's done in a non-breaking manner but it can be quite messy so not sure if it's worth the time

[2021-09-01 15:17] JorTurFer commented on #182
Probably it's better if we wait until 2-3 weeks before the major release because in other case 2 charts should be maintained :/

[2021-09-02 20:07] JorTurFer commented on #182
During the context of this task, who will do it have to take in consideration that the resources are pending to split. They'd be separated [here](https://github.com/kedacore/charts/issues/182), but we decided to wait until this task to avoid one breaking change

[2021-09-03 06:36] #112 closed

[2021-09-16 06:41] prak2419 opened #186 "Deploying a ScaledJob and ScaledObject fails"
The deployment of a ScaledJob and a ScaledDeployment worked until yesterday, but today it is failing with the following error,

[code]
The installed version of kedacore is 2.4.0

[code]

The scaled job was deployed through the following manifest definition,

[code]

[2021-09-16 06:43] #186 closed

[2021-09-16 06:43] prak2419 commented on #186
Moving the issue to Keda tahn charts

[2021-10-22 10:10] choru-k opened #187 "Why scaledjob.containers.ports.protocol is required?"
Currently in scaledjob, `scaledjob.containers.ports.protocol` is required. However, that has a default value.
I don't understand why that value is required. When I create scaledjob, I always need to write protocol value.

https://github.com/kedacore/charts/blob/master/keda/templates/03-crd-scaledjobs.keda.sh.yaml#L1476

## Expected Behavior
`scaledjob.containers.ports.protocol` is not required.

#

[2021-10-22 17:41] dazedavid opened #188 "CRD's not working with Kubeconform"
A clear and concise description of what you want to happen.

### Use-Case
Trying to use the kubeconform to validate the charts before using it getting following errors:
`helm template ./keda | kubeconform -output json`

{
  "resources": [
    {
      "filename": "stdin",
      "kind": "CustomResourceDefinition",
      "name": "scaledjobs.keda.sh",
      "version": "apiextensions.k8s.io/v1",

[2021-10-25 07:18] #187 closed, assigned to nobody

[2021-10-30 02:59] fivesheep opened #189 "keda-operator-metrics-apiserver crashed due to lack of configmap related rbac"
A clear and concise description of what the bug is.

## Expected Behavior

keda-operator-metrics-apiserver  shall be able to start properly

## Actual Behavior

keda-operator-metrics-apiserver crashed with the following error:

[code]

## Steps to Reproduce the Problem

helm apply with  -n kube-system (or whatever)

monitor the keda-operator-metrics-apiserver pod

## Specifications

  - **KEDA Ver

[2021-10-30 03:09] fivesheep commented on #189
In my use case, the service account was created outside, and the service account name was set via the value file. in the service account file, it uses `{{ .Values.serviceAccount.name }}` for service account

[code]

and they were used by the deployments
[code]

however, within the rolebinding files, the service account was the `{{ .Values.operator.name }}` which is inconsistent when passing a serv

[2021-11-03 10:48] theboyisno-1 opened #191 "Arg '-leader-elect' in '12-keda-deployment.yaml' template is no longer supported."
When I am trying to deploy Keda helm chart from master branch (at the time of writing this), `keda-operator` pod is going in crashloop with below error:
[code]

## Expected Behavior
The arg should be `-enable-leader-election` instead of `-leader-elect'` for container in `12-keda-deployment.yaml` file and then it shouldn't go in crashloop.

## Actual Behavior
The argument of container is `-leader-e

[2021-11-10 19:23] arschles opened #195 "Switch default branch from 'master' to 'main'"
Most of the other repositories in this GH organization use `main` as the default branch, including the biggest one by several metrics, [keda](https://github.com/kedacore/keda). This mismatch results in small differences in the contributor workflow when working with this repository.

For example, when creating a new branch using a remote, you have to specify `upstream/main` for most other repositor

[2021-11-14 13:47] justinmchase opened #196 "Support the namespace as a value parameter"
I am using keda as a dependency of my main chart and helm does not support specifying namespaces for dependencies. As a result keda is installing into the wrong namespace.

### Use-Case
[code]

[code]

### Specification

- [ ] Keda still installs into the "keda" namespace
- [ ] I can optionall specify a different namespace for keda to install to

### Additional Info
To provide a value, such as a n

[2021-11-16 07:05] tomkerkhove commented on #196
I think this is a valuable ask, but we should still support not specifying that and just using the release namespace if `namespace` is not specified as a parameter.

Are you open to contributing this? If so, I would suggest to just introduce `namespace` as a root value.

[2021-11-16 07:05] tomkerkhove commented on #196
_PS: We are always happy to list end-users on our website if it's being used in production_

[2021-11-16 08:20] tomkerkhove opened #200 "Add node selector to enforce Linux"
Add node selector to enforce Linux since we don't support Windows.

[2021-11-16 14:51] justinmchase commented on #196
I'll give it a go, just wanted to gauge your openness level first.

[2021-11-16 14:54] tomkerkhove commented on #196
We are definitely open for it, thanks a ton!

[2021-11-29 12:39] Giridhar23689 opened #207 "Add kube-rbac-proxy image to values.yaml images list"
I am trying to internalize all the docker images related to Keda to my private repository. Based on the installation instructions provided for HTTP add on, the docker images mentioned are for operator, scaler and interceptor. The image for kube-rbac-proxy is still being pulled from an external source and hence, my deployment is failing as I have a private K8s cluster with no outbound internet acce

[2021-11-29 14:23] Giridhar23689 commented on #207
Yes. Sorry I didn't mention that

[2021-11-30 08:23] tomkerkhove commented on #207
Tagging @arschles but curious what you're expecting from us, being able to change the image name through values.yml?

[2021-11-30 08:27] Giridhar23689 commented on #207
I would like the image repository name to be added in values.yml so that I can run something like helm install --set images.kube-rbac-proxy= xyz and install it .

[2021-11-30 09:32] tomkerkhove commented on #207
Are you willing to send a PR for this?

[2021-11-30 09:37] tomkerkhove commented on #188
They have been updated, can you please try the latest version?

[2021-11-30 09:37] #188 closed

[2021-11-30 09:40] #48 closed

[2021-11-30 09:40] tomkerkhove commented on #191
Closing as per https://github.com/kedacore/charts/pull/192

[2021-11-30 09:40] #191 closed

[2021-12-01 07:59] Giridhar23689 commented on #207
I have raised a PR. Please check.

[2021-12-03 17:43] arschles commented on #207
@Giridhar23689 thanks for bringing this up! I just reviewed your PR 👍

[2021-12-14 10:45] #207 closed

[2021-12-16 08:03] Giridhar23689 commented on #207
@tomkerkhove What is the difference between the kedacore/keda-add-ons-http chart and kedacore/http-add-on chart?
I am trying to install using kedacore/keda-add-ons-http and the kube-rbac-proxy image is still hardcoded. The installation is failing for me.

[2021-12-16 08:17] tomkerkhove commented on #207
There is no `kedacore/http-add-on` chart:

[code]

The hardcoded image is still there given a new chart was not released yet, but I will do that later today.

[2021-12-16 08:18] tomkerkhove commented on #207
Actually, checking with @arschles first if this is OK?

[2021-12-16 09:28] gbuirel opened #214 "Timeout on APIService despite opening the 6443 ports (GCP)"
## Description
Keda was installed through the Helm chart, version 2.5.0, on a Managed GKE Cluster.
Following the TroubleShooting section, we added a FireWall Rule opening the  6443 ports between our nodes, in the Ingress Direction.

I can see that all my worker nodes are indeed concerned by the rule, but I still get   this on the  v1beta1.external.metrics.k8s.io API Service

`Status:
  Conditions:

[2021-12-16 13:08] Giridhar23689 commented on #207
Can you please let me know when the new chart is released?

[2021-12-20 08:13] #195 closed

[2021-12-27 09:41] Giridhar23689 commented on #207
Can you please provide an ETA for new http-add-on chart release?

[2021-12-29 18:00] LittleWhiteYA opened #222 "PR #216 seems missing in chart package v2.5.1"
## Description

Hi guys !
I start to use keda these days and I think I found the error which talked about in discussion https://github.com/kedacore/keda/discussions/2348 still don't fix in chart package v2.5.1, even PR #216 had already merged.

## Expected Behavior

https://github.com/kedacore/charts/blob/v2.5.1/keda/templates/10-keda-clusterrole.yaml

## Actual Behavior

[code]

## Steps to Repro

[2022-01-04 10:13] tomkerkhove commented on #207
@arschles Let me know if it's OK to ship a new version

[2022-01-04 10:14] tomkerkhove commented on #222
My bad, I will repackage it today.

[2022-01-04 15:45] #222 closed

[2022-01-10 18:59] agnewp opened #226 "helm chart CRD installation first"
A clear and concise description of what the bug is.

## Expected Behavior
Keda can be installed from its chart as a dependency of another custom chart that uses Keda CRDs

## Actual Behavior
Helm expects that CRDs need to be installed BEFORE other resources that potentially use these CRDS.  when KEDA is a dependent chart of another one that attempts to use KEDA CRDs, the helm installation fails.

[2022-01-11 13:50] tomkerkhove commented on #226
This is what we used to have, but the CRDs were not being updated then. Helm does not provide a good story here.

[2022-01-11 17:08] agnewp commented on #226
well then its a trade-off. We have experienced that the current behavior for a new installation is quite flakey. the helm install command actually misses installation of some of the CRDs some of the time. also is there a point to how the files are named? does this actually work as a way to define installation order?

[2022-01-11 19:15] agnewp commented on #226
my mistake, i am using 2.5.1

[2022-01-11 21:16] tomkerkhove commented on #226
The alternative approach will silently continue giving you incomplete CRDs.

However, I will take a look when I have time but we might want to use both approaches as a hack: `crd/` for new installations and the current approach for updates.

[2022-01-11 21:27] tomkerkhove commented on #226
Let me try the chart again tomorrow though because last time I checked I didn't have issues.

[2022-01-12 12:39] tomkerkhove commented on #226
So what I did was:
1. Create a fresh cluster (using AKS)
2. Check CRDs:
[code]
3. Install KEDA
[code]
4. Check CRDs:
[code]

So everything seems fine.

Can you provide some more information about your environment? Keeping in mind that you use it as a Helm dependency of course, I'll test that next.

[2022-01-12 12:51] tomkerkhove commented on #226
Ok I can reproduce this:
[code]

Will take a stab at a fix later this week/next week. (will do my best)

[2022-01-12 13:00] tomkerkhove commented on #226
https://github.com/tomkerkhove/keda-helm-dependency

[2022-01-12 14:31] Giridhar23689 commented on #207
Any update on the release of http add on Chart. It's been about a month since I have been waiting for a release . Please let me know the ETA.

[2022-01-12 14:33] tomkerkhove commented on #207
Sorry but this is due to holiday, checking with Aaron.

[2022-01-12 15:05] tomkerkhove commented on #226
Workaround: Install KEDA outside of the current Helm chart.

[2022-01-12 16:46] agnewp commented on #226
This is indeed what we did to work around the issue. however, even installing Keda stand-alone with the current chart, we ran into inconsistent issues with the chart failing to install all of the CRDs. very strange. i wonder if some of the CRDs depend on eachother?

[2022-01-12 17:11] arschles commented on #207
Sorry about the delay, folks. I lost track of this issue. Yes, we can ship a new version.

[2022-01-13 07:11] tomkerkhove commented on #226
We do not have knowledge about that issue. Can you still reproduce this with the latest version?

[2022-01-23 13:23] tomkerkhove commented on #226
Would it help if there is a Helm chart with solely the CRDs that you can install first?

[2022-01-24 15:11] AshutoshNirkhe opened #232 "Can't have separate values like resources, securityContext for keda-operator and keda-operator-metrics-apiserver containers"
## Expected Behavior
We should be able to define different values for parameters like `securityContext`, `resources `etc for `keda-operator` and `keda-operator-metrics-apiserver` containers.

Instead define hierarchy like,
[code]

## Actual Behavior
Parameters like securityContext, resources etc are defined at root level i.e. .values.securityContext , they are applied to both containers keda-opera

[2022-01-24 22:33] jcogilvie opened #233 "Add helm chart option for EKS IRSA account"
Add helm chart support for the [required AWS configuration](https://keda.sh/docs/2.2/troubleshooting/#why-does-keda-operator-error-with-nocredentialproviders) on the ServiceAccount.

### Use-Case

We're using IRSA for auth inside AWS EKS.  Therefore, the helm chart should offer an out-of-the-box ability to specify the annotation `eks.amazonaws.com/role-arn` if using IRSA.

### Specification

- [ ]

[2022-01-25 07:39] tomkerkhove commented on #233
Certainly a valuable ask - Are you willing to contribute this?

[2022-01-26 07:15] tomkerkhove commented on #232
That's a fair ask, are you willing to contributing this?

[2022-01-27 08:42] tomkerkhove commented on #232
Awesome, thank you! Please make sure it is backwards compatible.

[2022-01-27 10:26] AshutoshNirkhe commented on #232
please have a look at https://github.com/kedacore/charts/pull/239

[2022-01-27 13:14] AshutoshNirkhe commented on #182
This will indeed be a nice update!

[2022-01-31 21:57] paul-civitas opened #241 "1.16 incompatibility, "unknown field x-kubernetes-map-type""
When installing the helm chart into a 1.16 cluster I get the following error:

[code]

According to the kube reference: https://kubernetes.io/docs/reference/using-api/_print/

"x-kubernetes-map-type" was added in 1.17. So it seems that unlike the documentation states, the earliest compatible version is actually 1.17 and not 1.16.

This is still N-2 of course, but the documentation here states 1.16

[2022-01-31 22:07] paul-civitas commented on #241
Seems BC breaking change was made in version 2.5.

[2022-02-01 09:51] #232 closed

[2022-02-09 21:47] zroubalik commented on #241
Thanks, we should cover this and bump supported version, @kedacore/keda-maintainers FYI.

[2022-02-10 06:53] tomkerkhove commented on #241
Does the field have any value @zroubalik and can we remove it or not?

[2022-02-10 07:51] zroubalik commented on #241
@tomkerkhove I think we should modify the docs, and state that we support k8s >= 1.17

I would like to avoid hacking on generated files

[2022-02-10 08:01] JorTurFer commented on #241
I agree with @zroubalik
This file is auto generated

[2022-02-10 09:41] tomkerkhove commented on #241
I will send a PR, but we should retro-actively update for v2.5+ and update the release notes - Agreed?

We should also start adding the supported Kubernetes version in our Helm chart and ship a patch version for it to reflect this, agreed?

[2022-02-10 12:40] pinkfloydx33 opened #246 "Support `serviceAccount.labels` directly"
Please consider supporting `serviceAccount.labels` directly.

### Use-Case

The replacement to Azure pod-identity, [Azure workload-identity](https://github.com/Azure/azure-workload-identity), requires a set of annotations and labels on the `ServiceAccount` rather than a single label on the pods. Specifically, it requires a *label*, `azure.workload.identity/use`.

The Keda chart already supports an

[2022-02-10 14:50] tomkerkhove commented on #246
Are you willing to contribute this?

[2022-02-11 12:31] tomkerkhove commented on #241
@zroubalik @JorTurFer Do we patch 2.5.x & 2.6.x?

[2022-02-11 14:14] JorTurFer commented on #241
I'd not patch the chart but the docs yes

[2022-02-11 14:16] #241 closed

[2022-02-22 06:37] visla-xugeng opened #252 "KEDA error establishing rabbitmq connection in EKS cluster with Calico networking"
Hi
I installed EKS cluster with Calico networking(xvlan). In this env, I have rabbitmq installed through helm chart. A KEDA setup through helm chart as well. Before Calico network, I was using aws vpc cni network by default. The KEDA scaling worked well. After switched to the Calico network (overlay), I got below errors:

btw: I already updated the KEDA to use "ClusterFirstWithHostNet", since I am

[2022-03-09 07:49] simonlsk commented on #226
Is there an open issue for that in helm?

Do you mean that we would add two dependencies in the chart like this:
[code]
I think that could work for me.

[2022-03-09 07:56] tomkerkhove commented on #226
Yes, see above but link is https://github.com/helm/helm/issues/10585

No, so you can deploy the CRDs before the application. Having it as two dependencies would have same issue.

[2022-03-14 11:53] mac8005 opened #254 "Split PDB for Operator and Metrics Api & Allow setting replica count for Metrics Api"
Replica Count for metrics is not settable [22-metrics-deployment.yaml](https://github.com/kedacore/charts/blob/06600ec4692963db80d4d357c2dcb6c5355d4f1b/keda/templates/22-metrics-deployment.yaml#L11) therefore the `podDisruptionBudget.minAvailable` is not usable as it creates a PDB for the operator AND the Metrics API

## Expected Behavior
- Option to define `podDisruptionBudget` individual for Ope

[2022-03-14 12:10] tomkerkhove commented on #254
Adding more instances will not help since only 1 can be active at the same time but it would reduce impact though. (see https://keda.sh/docs/latest/operate/cluster/)

Are you willing to contribute this?

[2022-03-14 12:13] mac8005 commented on #254
Thank you for the Link!
Ok, so PDB makes no sense for Metrics Api. Yes, I need a PDB for the operator to reduce downtime during cluster Maintenance.
Will open a PR.

[2022-03-14 12:14] tomkerkhove commented on #254
Thank you.

[2022-03-22 10:15] TheKangaroo opened #256 "Include RBAC permissions to custom resources in KEDA helm chart"
Like in https://github.com/kedacore/keda/issues/2723 for manifests, it would be great to add the option to deploy aggregation ClusterRoles for the build-in view, edit and admin roles.

### Use-Case

We provide keda as a service for cluster users and need to add the CRD permissions to the built-in view, edit, and admin ClusterRoles through [ClusterRole aggregation](https://kubernetes.io/docs/refere

[2022-04-12 09:56] IanMoroney opened #259 "Can't add Azure managed identity"
When deploying the chart with `--set=podIdentity.activeDirectory.identity=` it won't work, because kubernetes labels have a 63 character limit.
The resultant identity is too long for the label.

## Expected Behavior
If an identity is meant to be used by keda, shouldn't it use its own podIdentity definition?

## Actual Behavior
[code]

[2022-04-13 09:15] IanMoroney commented on #259
So the workaround for this is I had to create my own `AzureIdentity` and `AzureIdentityBinding`, deploy it and then refer to it by name when using `--set=podIdentity.activeDirectory.identity=`

Is there a reason why we don't have:
[code]
instead?

After a lot of experimentation trying to get keda to work, it didn't seem to be documented that an identity was required, but the scaler wouldn't work a

[2022-04-13 12:25] tomkerkhove commented on #259
You do not have to specify the ARM value, instead you need to pass the name of the Kubernetes resource.

If you ant to give this a try, I'd recommend going through this sample: https://github.com/kedacore/sample-dotnet-worker-servicebus-queue/blob/main/pod-identity.md

[2022-04-14 18:16] lsolovey opened #261 "Obsolete Helm value logging.operator.timeFormat ?"
The [README.md](https://github.com/kedacore/charts/blob/main/keda/README.md) mentions `logging.operator.timeFormat` value with the description:

Using keda Helm chart version 2.6.2 - setting this Helm value doesn't seem to make any difference. I don't see it respected by the Helm chart.

- Is it obsolete and needs to be taken out of README ?
- How can we change the format of time in the logs witho

[2022-04-19 10:05] zroubalik commented on #261
https://github.com/kedacore/keda/blob/main/BUILD.md#keda-operator-logging

This is the source of truth, the helm chart should be updated.

[2022-04-20 09:45] tomkerkhove commented on #261
Are you willing to send a PR for this @lsolovey?

[2022-04-20 16:56] lsolovey commented on #261
Hi @zroubalik, the link above doesn't explain how to change the time format in logs. Do you mean that time format is immutable, and  we just need to remove any mention of `logging.operator.timeFormat` from the Helm chart?

[2022-04-21 07:59] zroubalik commented on #261
@lsolovey it seems like it's like that. We rely on https://sdk.operatorframework.io/docs/building-operators/golang/references/logging/ for logging. On a quick check it seems that it doesn't support timeformat. But I might be wrong. Could you please investigate whether there is any advanced option to do so? Thx

[2022-04-21 12:32] lsolovey commented on #261
@zroubalik I have no experience with Go, but I'll try to do some research on this. Let me dig into the docs for  Operator Framework logging and Zap.

[2022-04-22 14:13] tomkerkhove opened #262 "Support for running in non-root"
Currently we don't don't provide guidance around running in non-root and we should check if we can default to this in our Helm chart.

Related: https://github.com/kedacore/keda/discussions/2891

[2022-04-22 14:14] tomkerkhove commented on #262
@kedacore/keda-maintainers Do you know if KEDA core supports running as non-root or do we have a requirement for this?

[2022-04-22 15:15] JorTurFer commented on #262
I'd say that we are already using non-root image (distroless/non-root)

[2022-04-22 15:19] JorTurFer commented on #262
I think it was discussed sometime ago
https://github.com/kedacore/keda/issues/2139

[2022-04-22 15:21] JorTurFer commented on #262
But as summary, KEDA runs over non-root, users need to set the security context

[2022-04-25 06:16] tomkerkhove commented on #262
It begs the question, though, shouldn't we run KEDA as non-root by default? What's stopping us from doing secure-by-default?

[2022-04-25 06:38] JorTurFer commented on #262
I'd say that we can run KEDA with a safe securityContext as default yes (keeping the option to set other or empty like right now). @zroubalik any objection?

[2022-04-25 10:24] zroubalik commented on #262
+100 agree, we should default to non-root.

This change should be driven from kedacore/keda first.

[2022-04-25 10:46] JorTurFer commented on #262
What do we have to do there? Is it not enough just setting the securityContext here? Maybe to run with non-root also when it's deployed with make or manifests?

[2022-04-25 10:59] zroubalik commented on #262
Yeah, I'd put securityContext to the manifests in core.

[2022-04-25 12:30] tomkerkhove commented on #262
100% agree on doing that in KEDA core first and be secure-by-default.

Moving issue there to keep track of things.

[2022-04-26 11:57] tomkerkhove opened #266 "Re-implement CI to verify various configuration scenarios"
Re-implement CI to verify various configuration scenarios to automatically run on all supported Kubernetes versions.

Today we only test for Azure Workload Identity, but we should test other scenarios as well and use separate job stages for this.

[2022-04-27 09:18] #254 closed

[2022-05-24 09:40] mhowell24 opened #277 "Double scraping of apiserver metrics when using podMonitor"
When the podMonitor is enabled for the metrics server it is double scraped. This is because the metrics server podMonitor is only [deployed](https://github.com/kedacore/charts/blob/main/keda/templates/26-metrics-podmonitor.yaml#L1) if `prometheus.metricServer.enabled` and `prometheus.metricServer.podMonitor.enabled`. But when `prometheus.metricServer.enabled` is true the metric server deployment s

[2022-05-24 22:09] mhowell24 commented on #277
@tomkerkhove no problem have opened #279

[2022-05-25 11:13] #277 closed

[2022-06-17 13:51] manju4d90 opened #281 "apiversion for pdb is behind"
It has been noticed that PDB for both operator and metrics server is at **policy/v1beta1**. Since we see that rest all components are at apiversion **v1**. Could you please let us know when can we expect v1 apiversion for pdb.

## Specifications

  - **KEDA Version:** *2.7.2*
  - **Platform & Version:**
  - **Kubernetes Version:** *v1.22.4 AKS*
  - **Scaler(s):**

[2022-06-17 14:12] tomkerkhove commented on #281
Are you willing to send a PR?

[2022-06-23 10:17] christidis opened #282 "Keda Http-add-on using Traefik Ingress controller"
I am following the [walktrhough guide](https://github.com/kedacore/http-add-on/blob/main/docs/walkthrough.md) and I am trying to use Traefik Ingress Controller instead of NGINX as suggested.

I am facing issues accessing the interception proxy backend with Traefik. All my requests are failing with 500 Internal Server Error.

After looking into the issue it seems that Traefik is attempting to acces

[2022-06-23 10:43] christidis commented on #282
Traefik documentation [1] mentions the following for the https protocol in backends.

*Traefik automatically requests endpoint information based on the service provided in the ingress spec. Although traefik will connect directly to the endpoints (pods), it still checks the service port to see if TLS communication is required. If the service port defined in the ingress spec is 443, then the backend

[2022-06-27 18:01] alenesho116 opened #283 "Context Canceled with Azure Managed Identity"
Upgraded our cluster aad-pod-identity helm chart to 4.1.10 and we are now getting the following error when trying to use an Azure Queue Scaled Job with Keda:

`
ERROR	scaleexecutor	Error setting active condition when triggers are not active	{"scaledJob.Name": "azure-queue-scaledjob", "scaledJob.Namespace": "apps", "error": "context canceled"}
`

This same managed identity worked with the same perm

[2022-07-04 12:20] pinkfloydx33 commented on #246
This can technically be closed as the chart now supports AZWI directly. I'm unsure if there are still other cases that warrant labels. The driving issue being the OP has been resolved.

[2022-07-04 14:00] pinkfloydx33 opened #284 "Chart should not set Azure Workload TenantId annotation when blank"
When using Azure Workload Identity, the chart creates a Service Account with the following labels and annotations:

[code]

The problem is that Tenant Id is **not a required annotation**. When unspecified, the default tenant Id as associated with the AZWI installation is used. In other terms, when **absent** the Azure Workload Identity web-hook will add an environment variable to the pod called `A

[2022-07-05 05:06] tomkerkhove commented on #246
Let's close it and see if it comes back up later on. Thanks for the note.

[2022-07-05 05:06] #246 closed

[2022-07-05 05:10] tomkerkhove commented on #284
So let's do this then:
- Make sure the client ID is only assigned when specified
- Make sure that you can configure the tenant ID, otherwise omit the annotation.

@v-shenoy Agreed? Is this something you want to work on @pinkfloydx33?

[2022-07-05 16:23] v-shenoy commented on #284
Agreed, both the client and tenant id can be optional.

[2022-07-09 12:30] #284 closed

[2022-07-21 20:09] ShimmiDemi opened #289 "[2.7.1] keda operator in prod connecting with dev storage account queue in west us"
we got unauthorized error because keda in prod is trying to connect with dev queue (only happen in west us) after upgrading to 2.7.1.

we've configured the storage account name correctly in the value files.

below is the error

[code]

[2022-07-28 11:19] aslafy-z opened #293 "Ability to configure upgrade strategy"
Add Deployment upgrade strategy to keda deployments

### Use-Case

When using requiredDuringSchedulingIgnoredDuringExecution podAntiAffinity with 3 replicas and 3 zones, Keda deployments upgrade strategy `maxUnavailable` must be updated from default value (`25%`) to at least `1` for rolling upgrade not to stay stuck.

### Specification

- [ ] Make deployment `strategy` field configurable over the

[2022-07-28 11:32] #293 closed

[2022-08-01 06:52] tomkerkhove commented on #289
Closing in favor of https://github.com/kedacore/keda/discussions/3443

[2022-08-01 06:52] #289 closed

[2022-08-02 23:57] xgengsjc2021 opened #297 "can you provide prometheus alert rules?"
I found there is zero rules in the values. yaml. Can you provide some rules for promtheus monitoring purpose?
Can you provide more rules? Is this one enough?
[code]

[2022-08-03 06:36] tomkerkhove commented on #297
We don't actively add them given this is up to the end-user; we don't want to enforce things on end-users.

However, if you have suggestions we do welcome PRs where we can add them, but commented out.

[2022-08-03 19:16] xgengsjc2021 commented on #297
@tomkerkhove
Where can I see all of metrics KEDA provided? I could not find any metrics on keda website, so I dont know what metrics I can use to setup alerts.

[2022-08-03 20:11] tomkerkhove commented on #297
The overview is available on https://keda.sh/docs/2.7/operate/prometheus/

[2022-08-03 20:53] xgengsjc2021 commented on #297
@tomkerkhove Thanks.
When I check "http://127.0.0.1:9022/metrics", I only get one metric. (However, in the document, they list 4 metrics. ) Please see my screenshot.
![Screenshot2022_08_03_133444](https://user-images.githubusercontent.com/79334945/182708234-1946daa2-f440-46ec-bae8-f58f031826bc.jpg)

From the screenshot, you can see the metric name is: **keda_metrics_adapter_scaler_errors_total** (

[2022-08-03 21:02] xgengsjc2021 commented on #297
![Screenshot2022_08_03_140114](https://user-images.githubusercontent.com/79334945/182711137-cb215aab-e537-40f6-9544-edf6f65b61ef.jpg)

[2022-08-10 20:04] xgengsjc2021 commented on #297
@tomkerkhove Hi, do you have any idea about what I commented above?

[2022-08-11 19:01] pinkfloydx33 opened #300 "Chart 2.8.0 bundles outdated CRDs"
The CRDs in the 2.8.0 chart are not the actual CRDs for 2.8.0. For example the `spec.podIdentity.identityId` field is missing on `[Cluster]TriggerAuthentication`.

I've double-checked that the CRDs inside the [keda-2.8.0.tgz](https://kedacore.github.io/charts/keda-2.8.0.tgz) file are not the latest ones

This is making migration a bit difficult. We installed Keda (originally) with `crds.install=tr

[2022-08-11 19:39] joebowbeer opened #301 "metricServer can set readOnlyRootFilesystem=true"
The keda [README](https://github.com/kedacore/charts/tree/main/keda) in this repo states that metricServer _cannot_ set readOnlyRootFilesystem=true

but the [FAQ](https://keda.sh/docs/2.8/faq/) says otherwise and provides instructions how to do it when using the default generated cert:

_Originally posted by @joebowbeer in https://github.com/kedacore/charts/pull/267#discussion_r943861229_

[code]

[2022-08-11 20:56] JorTurFer commented on #301
@kedacore/keda-helm-maintainers ?

[2022-08-12 05:07] tomkerkhove commented on #300
That's my fault, I will update them today - Sorry about that :/

[2022-08-12 05:21] tomkerkhove commented on #301
We can do it, but there seem to be some pre-requisites. I'd leave it up to @zroubalik as I'm not familiar with this enough

[2022-08-12 05:51] joebowbeer commented on #301
I'm just pointing out that this section of the README is contradicted by the FAQ, and I'm suggesting ways to bring it into line.

My PR to update the FAQ is https://github.com/kedacore/keda-docs/pull/830

[2022-08-12 11:55] #300 closed

[2022-08-12 12:24] errm opened #304 "Helm repo index.yaml is broken."
Helm repo index.yaml is somehow broken.

We are installing keda via a flux HelmRepository resource, when flux tries to update the repo it fails with this error

## Expected Behavior

That the helm repo index can be loaded by flux

## Actual Behavior

It's broken

## Steps to Reproduce the Problem

  1. Install flux
  2. Create a HelmRepository

[code]

## Specifications

  - **KEDA Version:** n/a

[2022-08-12 12:29] errm commented on #304
The issue is right at the end of the file:

basically the `maintainers:` key is missing so line 893-902 are invalid yaml

[code]

[2022-08-12 12:47] tomkerkhove commented on #304
Fixed in https://github.com/kedacore/charts/commit/b446c98b589551f72f0d6dd28b205c1dc93ea591

[2022-08-12 12:47] #304 closed

[2022-08-12 12:47] tomkerkhove commented on #304
Sorry for the inconvenience

[2022-08-12 12:55] errm commented on #304
🙇 Thanks everything is working again on our system!

[2022-08-12 16:44] joebowbeer commented on #168
This can be closed?

[PSP](https://kubernetes.io/docs/concepts/security/pod-security-policy/) was deprecated in 1.21 and will be removed in 1.25.

[2022-08-12 16:47] joebowbeer commented on #189
Should be closed? Was fixed by #190 ?

[2022-08-12 17:36] joebowbeer commented on #281
v1beta deprecated in 1.21, will be removed in 1.25

https://kubernetes.io/docs/reference/using-api/deprecation-guide/#poddisruptionbudget-v125

If KEDA min k8s version is 1.21+, then this can just be changed to v1.

Otherwise, a capabilities check will be needed:

[code]

[2022-08-12 19:34] #281 closed

[2022-08-18 06:53] tomkerkhove commented on #297
This might be a silly question, but does your cluster have any ScaledObject resources? Because if it does not, then that might explain why they are missing.

[2022-08-19 03:29] joebowbeer opened #306 "Add seccompProfile.type RuntimeDefault to KEDA deployments for secure-by-default"
Add seccompProfile.type RuntimeDefault to Deployments as per PSS/restricted spec.

### Use-Case

This would bring the default manifests into compliance with PSS/restricted policies.

The policies currently fail because the containers in the two Deployments are missing an explicit seccompProfile type.

[code]

### Specification

https://kubernetes.io/docs/concepts/security/pod-security-standards/#r

[2022-08-19 18:37] doctorpangloss opened #310 "Setting portHttpTarget and portHttpsTarget in the helm chart should change the port the adapter listens on. It does not."

[2022-08-23 07:19] #306 closed

[2022-08-23 07:19] #301 closed

[2022-08-23 16:34] xgengsjc2021 commented on #297
@tomkerkhove Thanks but the reply made me confused. I do have scaledobject resources in my env.

![Screenshot2022_08_23_093215](https://user-images.githubusercontent.com/79334945/186212662-6eddb076-3cb1-4d35-9573-6c2d8e283705.jpg)

[2022-08-24 07:56] tomkerkhove commented on #297
That is odd, can this be related to https://github.com/kedacore/keda/issues/3554 @JorTurFer ?

[2022-08-24 10:08] JorTurFer commented on #297
I don't think so, that issue registers the metric with 0 as value, but the metric is registered. are you checking the metrics server (not the operator) in the port 9022, right?

[2022-08-24 16:45] xgengsjc2021 commented on #297
@JorTurFer @tomkerkhove
Thanks for the response. I did check the metrics server, (not the operator). Btw, from the output below, in my keda ns, I only see on service, keda-operator-metrics-apiserver

[code]
Then I run port-forward to check the metrics on metrics-apiservers
[code]

[2022-08-24 19:28] JorTurFer commented on #297
hum
weird... It's possible that after metrics server restart, the counters don't exist because they are created during the first access.
Do you have more than 1 metrics server instance? If you restart the metrics server and wait some minutes (having SOs), don't you have any metric either?

[2022-08-24 20:03] xgengsjc2021 commented on #297
@JorTurFer I only have 1 metrics server pod as you can see below.

[code]

Based on your suggestion, I rebooted metric pod, then checked the http://127.0.0.1:9022/metrics, got the same result
[code]

[2022-08-24 22:04] JorTurFer commented on #297
really weird...
Could you [query some metric manually](https://keda.sh/docs/2.8/operate/metrics-server/) to ensure that at least one trigger is executed?
I have just seen in your picture that you are using CPU trigger, that trigger is processed by the Kubernetes metrics server (not by KEDA metrics server) and that's why you can't see any other metric. Do you have any trigger which is not CPU/Memor

[2022-08-25 02:26] xgengsjc2021 commented on #297
@JorTurFer At this moment, we only monitor CPU and Mem. I dont have any other triggers for now. Actually, we are using the combination of CPU+Mem together as trigger in our env for now.

Here is a question hope you can answer:
Once the condition got matched in KEDA, will keda scale up the pods to the maximum number at once? I noticed one time, my CPU usage is not too high(It was above the threshol

[2022-08-25 10:25] JorTurFer commented on #297
That's why you can't see any other metric, because they are not generated yet due to KEDA metrics server hasn't received any query, all the requests are done against Kubernetes metric server. When you use CPU/Memory scaler, KEDA basically create a "regular" HPA hitting to the "regular" metrics server (that's why Kubernetes metrics server is needed)

Once the condition got matched in KEDA, will ked

[2022-08-25 23:46] parjun8840 opened #311 "[Kafka]External metrics server not reporting the correct value to scale up"
A clear and concise description of what the bug is.

## Expected Behavior

### I have defined- lagThreshold: "10".

`apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: kafka-scaledobject
  namespace: kafka
  labels:
    deploymentName: kafka-consumer-deployment # Required Name of the deployment we want to scale.
spec:
  scaleTargetRef:
    name: kafka-ap
  pollingInterval: 5
  minRe

[2022-08-29 19:31] karl-sprig commented on #261
Just a FYI to future google searchers, the deployment template now has explicitly support for the logging faculties:

https://github.com/kedacore/charts/blob/main/keda/templates/12-keda-deployment.yaml#L67

Via `values.yaml:`

[code]

[2022-08-30 06:52] tomkerkhove commented on #261
Yes that is correct. I think we can close this issue?

[2022-08-30 07:28] lsolovey commented on #261
@tomkerkhove No, the focus of this issue is to allow customizable timestamp formats in logs.

In other words, to support `logging.operator.timeFormat` Helm value. Please see my detailed comment above from April 28th.

[2022-08-30 07:33] lsolovey commented on #261
@tomkerkhove Ah, never mind. Timestamp format is now customizable. It was implemented here:
https://github.com/kedacore/keda/issues/3066

So we can close this one.

[2022-08-30 08:00] #261 closed

[2022-09-12 20:05] toniopelo commented on #226
I would add that for some of us that are using `skaffold` with helm, this is even worst.
Breaking this in two separate charts to first install the `keda` chart with all the `crds` and after install the `other` chart that uses these `crds` as stated above doesn't work (stated here: https://github.com/kedacore/charts/issues/226#issuecomment-1011137694).
- `skaffold dev` **works** fine as it first in

[2022-09-13 05:34] tomkerkhove commented on #226
Thanks for bumping this thread again, unfortunately no change on the Helm side.

If we do this, then you would be unblocked if I get it correctly?

[2022-09-13 09:30] toniopelo commented on #226
Hi @tomkerkhove, thanks for the fast reply :)!

Yeah, the Helm implementation is really not ideal...

Yes that's right. I would be unblocked in my case, and I think that having both charts separated would likely solve other cases as well.
- you can still have them both (nothing change)
- you can handle the `crds` in another way that suits your needs and still use the main chart without risking con

[2022-09-13 09:36] tomkerkhove commented on #226
What are your thoughts on this @kedacore/keda-maintainers? I think if we do this we should do the following:
- Introduce `keda-crd` Helm chart with solely our CRDs
- Introduce `keda-runtime` Helm chart with everything, except for our CRDs
- Continue maintaining `keda` Helm chart, but use `keda-crd` & `keda-runtime` as dependencies.
Thoughts,

[2022-09-20 15:03] toniopelo commented on #226
@tomkerkhove I just realised that you can use the following in the `values.yaml`:
[code]
This will prevent `crds` from being installed on the current chart.
So I can use the chart as-is without any conflict and still installing the `crds` my way.
I don't think any action needs to be taken on your side then :).

[2022-09-21 11:32] tomkerkhove commented on #226
Sounds good, thanks for letting us know!

[2022-09-27 20:23] #282 closed

[2022-10-03 05:43] #233 closed

[2022-11-09 19:59] Fouz opened #324 "Issue with scaling from and to zero"
I have a deployment with 0 replicas i’m trying with keda to be able to scale out the replicas from 0 and back based on a metric that measures the latency, having keda scaledobject spec as follows

[code]
the issue is it stops scaling at 1 replica after it reaches threshold so I guess it’s an issue with the hpa not able to scale from 1 to N, the hpa status :
[code]
[code]

## Specifications

  - **

[2022-11-10 23:47] hoepfnerj opened #325 "[KEDA] Capabilities check needed for Helm file keda/templates/25-metrics-poddisruptionbudget.yaml"
The keda Helm chart cannot be deployed on Kubernetes 1.25 due to apiVersion: policy/v1beta1

## Expected Behavior

The keda Helm chart is deployable on Kubernetes 1.25

## Actual Behavior

The PodDisruptionBudget for metrics-apiserver cannot be deployed due to removed apiVersion: policy/v1beta1

## Steps to Reproduce the Problem

  1. set value "podDisruptionBudget.minAvailable: 1"
  2. deploy on

[2022-11-11 11:06] zroubalik commented on #324
The HPA is able to get metrics, so I don't think that there's any issue on this side. You might want to tweak the threshold value a little bit? And maybe change the query a little bit `[1m]`->`[2m]`. Try tweaking this values. If the HPA is not able to get metrics, you'd definitely see it in the `Conditions`.

[2022-11-14 12:19] tomkerkhove commented on #325
Are you willing to send a PR?

[2022-11-23 19:47] JuanPabloSGU opened #333 "Removal of Default Resource Values in Helm Chart"
### Proposal

This feature is about removing the default resources values in the helm chart. The solution would just commenting the default values and allow certain users to implement them if need be.

### Use-Case

Unfortunately there has been a long standing bug [helm/helm#9027](https://github.com/helm/helm/issues/9027) that prevents default values used in dependencies to be removed (which is a

[2022-11-23 21:36] JorTurFer commented on #333
Hi @JuanPabloSGU ,
I transfer this issue to chart repository because it's more appropriate here.
I get your point and it's true what you said about CPU limit, but if the CPU limit is your issue, why don't you just define the values with a huge limit? I mean, you could define the values like:
[code]

And this is practically removing the limit.
WDYT?

[2022-11-24 05:57] #325 closed

[2022-11-24 07:15] tomkerkhove commented on #333
I agree, the majority of end-users are not using dependencies which means we'd put a lot of burden on them having to understand how to configure KEDA which decreases usability and increases support

[2022-11-24 16:17] jemag commented on #333
Since these are default values that will be used by any users not defining their own, I believe it would make sense to have the best and most general values possible.

As such, I do think that removing CPU limit does make for a better default, whereas currently the chart is artificially limiting the bursting capabilities of the application  (not taking advantage of any CPU that might be available)

[2022-11-24 16:29] JorTurFer commented on #333
Experienced users can overwrite those values as they are explained in the docs and not experienced users have a default behavior, e.g:  you can define other limits if you prefer other values, but I don't imagine an inexperienced (k8s) user managing more than 300-400 ScaledObjects, so 1 CPU as maximum is a good value.
As I said, that value is not hardcoded, it's just a default value. I understand t

[2022-11-24 16:34] jemag commented on #333
Sure and that is totally fine.

I guess my point was mostly that the Kubernetes community in general seems to be moving to no CPU limit as the default, although there is some contention for very specific use cases. If you think the current values will serve the general users better, that is fine.

[2022-11-24 17:00] JorTurFer commented on #333
TBH, I totally understand you, and we (in my work) don't use limits in a lot of cases, but without knowing it, you could have bad neighbours in the cluster, each scenario is different, and we try to cover the safest cases (it's the same with users and privileges).
The feedback is more than welcome and it's sane having discussions about the things, so, thanks :)

[2022-11-28 16:13] #333 closed

[2022-11-29 18:48] panophobicPanda opened #338 "keda upgrade causes prometheus timeouts"
## Summary

- I don't know if this is a keda issue or something with prom but it only happens when upgrading keda. I've been working on this for weeks and getting nowhere, so any ideas are very much appreciated.
- I have 3 large clusters and 15 smaller ones, this problem happens consistently on the 3 larger ones and never on the smaller ones. The large clusters are all about the same size (see OTH

[2022-11-29 19:00] JorTurFer opened #339 "Use ServiceMonitor instead of PodMonitor in KEDA"
We are using PodMonitor (Prometheus CRD) to define the scrapping rules in KEDA chart, but both deployments have service indeed, so we should use ServiceMonitor manifests. In cases with multiple KEDA instances, ServiceMonitor allows grouping the metrics by service and Podmonitor doesn't